@import "../../assets/styles/colors.scss";
.view {
  .filter {
    width: 40%;
    .filter-box {
      margin: 30px 8px;
      border: 1px solid $gray-200;
      border-radius: 4px;
      padding: 16px;
      min-height: 20rem;
      .input-field {
        position: relative;
        input {
          border-color: $gray-200;
        }
        i {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 23px;
          color: $gray-100;
        }
      }
      .title {
        color: $black-100;
        font-weight: 500;
        cursor: pointer;
        i {
          font-size: 25px;
          padding-right: 16px;
          cursor: pointer;
        }
        > * {
          display: flex;
          align-items: center;
        }
      }
      .radio-button {
        align-items: start;
        align-items: start;
        padding-left: 35px;
        padding-top: 8px;
      }
    }
    .tabs {
      display: flex;
      justify-content: space-between;
      padding: 8px 30px;
      background-color: $blue-100;

      .tab {
        color: #fff;
        padding: 4px 0;
        cursor: pointer;
        &.active {
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
  .visual {
    width: 60%;
  }
}
