@import "../../../assets/styles/colors.scss";
.switch-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
  .switch-box {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
      display: none;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius: 34px;
      transition: 0.4s;
    }
    .slider::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.4s;
    }
    .slider.on {
      background-color: $base-color;
    }
    .slider.on::before {
      transform: translateX(26px);
    }
  }
  .title {
    color: $black-100;
    font-weight: 500;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
  }
}
