@import "../../../assets/styles/colors.scss";
.text-area{
    position: relative;
    margin-bottom: 16px;
    textarea {
        width: -webkit-fill-available;
        border-radius: 6px;
        font-size: 16px;
        padding: 14px 16px;
        border: 1px solid $gray-100;
        background: transparent;
        color: $gray-100;
        outline: none;
      }
      label {
        position: absolute;
        top: 20%;
        left: 15px;
        transform: translateY(-50%);
        color: $gray-100;
        font-size: 16px;
        pointer-events: none;
        transition: 0.3s;
      }
      textarea:focus {
        border: 1px solid $base-color;
      }
      textarea:focus ~ label,
      textarea:valid ~ label {
        top: 0;
        left: 15px;
        font-size: 14px;
        padding: 0 2px;
        background: #ffff;
        color: $black-100;
      }
}