$breadcrumbs-font-size: 1.3rem;
$breadcrumbs-background: #eaecf1;
$breadcrumbs-text-color: #5f6e7d;
$breadcrumbs-active-bg: #0766ad;
$breadcrumbs-active-text-color: #ffffff;

.default-breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: $breadcrumbs-font-size;
  padding: 0;
  justify-content: center;

  li.crumb {
    position: relative;
    padding: 0.5em 0.25em;
    background-color: $breadcrumbs-background;
    color: $breadcrumbs-text-color;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 1.5em;
      background-color: $breadcrumbs-background;
      clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 1px;
      height: 100%;
      width: 1.5em;
      background-color: $breadcrumbs-background;
      clip-path: polygon(100% 0, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
      transform: translateX(-100%);
    }

    &:not(:first-child) {
      margin-left: 2em;
    }

    &:first-child {
      padding-left: 0.5em;
      border-radius: 5px 0 0 5px;

      &::before {
        display: none;
      }
    }

    &:last-child {
      padding-right: 1em;
      border-radius: 0 5px 5px 0;

      &::after {
        display: none;
      }
    }

    &.active {
      background-color: $breadcrumbs-active-bg;
      color: $breadcrumbs-active-text-color;

      &::before,
      &::after {
        background-color: $breadcrumbs-active-bg;
      }
      a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        &:hover {
          color: #fff;
        }
      }
      
    }

    .link {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      color: $breadcrumbs-text-color;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        color: $breadcrumbs-active-bg;
      }
    }
  }
}