@import "../../../assets/styles/colors.scss";
.components {
  .title {
    color: $black-100;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 16px;
    display: flex;
  }
  .btns {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    .next {
      border-radius: 8px;
      width: 30%;
      margin-left: 16px;
      background: $base-color;
      border: none;
      padding: 16px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      &.disable {
        opacity: 0.5;
        cursor: unset;
      }
    }
    .back {
      border-radius: 8px;
      background: $gray-200;
      border: none;
      padding: 16px;
      width: 20%;
      color: $black-100;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .item {
    border: 1px solid $gray-200;
    padding: 16px;
    margin: 16px 0;
    .item-row {
      display: flex;
      padding-bottom: 8px;
    }
    .label {
      color: $black-100;
      font-size: 14px;
    }
    .value {
      color: $black-100;
      font-weight: bold;
      font-size: 16px;
      padding-left: 8px;
    }
    i {
      color: $red-100;
      font-size: 20px;
      display: flex;
      padding: 10px;
      cursor: pointer;
    }
  }
}
