@import "../../../assets/styles/colors.scss";

.radio-button {
  display: flex;
  flex-direction: column;
  .item{
    padding-bottom: 8px;
  }
  .title {
    color: $black-100;
    font-weight: bold;
    padding-bottom: 8px;
  }
}
